<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="css/main.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="card mx-auto" style="width: 20rem">
            <div class="card-body">
              <h5 class="card-title">Github vs GitLab</h5>
              <p class="card-text">
                
              </p>
              <a href="https://about.gitlab.com/devops-tools/github-vs-gitlab/" class="btn btn-primary">Learn More</a>
            </div>
          </div>

          <div class="card mx-auto" style="width: 20rem">
            <div class="card-body">
              <h5 class="card-title">GitLab's Auto DevOps</h5>
              
              <a href="https://docs.gitlab.com/ee/topics/autodevops/" class="btn btn-primary">Learn More</a>
            </div>
          </div>

          <div class="card mx-auto" style="width: 20rem">
            <div class="card-body">
              <h5 class="card-title">GitOps with GitLab</h5>
              <p class="card-text">
                
              </p>
              <a href="https://about.gitlab.com/solutions/gitops/" class="btn btn-primary">Learn More</a>
            </div>
          </div>
          <%# https://about.gitlab.com/devops-tools/github-vs-gitlab/
          https://docs.gitlab.com/ee/topics/autodevops/ integrated gitops
          https://about.gitlab.com/solutions/gitops/ %>
        </div>
        <div class="col-md-4 text-center align-middle">
          <img src="images/tanuki.svg" width="300" height="300" style="margin-top: 30%;" />
          <h1 id="title">GitLab</h1>
        </div>
        <div class="col-md-4 text-center">
        
            <div class="card mx-auto" style="width: 20rem">
              <div class="card-body">
                <h5 class="card-title">The One DevOps Platform</h5>
                <p class="card-text">
                  
                </p>
                <a href="https://about.gitlab.com/?utm_medium=cpc&utm_source=google&utm_campaign=brand_amer_pr_rsa_br_phrase&utm_content=homepage_digital_x-pr_english_&_bt=553407831748&_bk=gitlab&_bm=p&_bn=g&_bg=131460278867&gclid=CjwKCAjwyryUBhBSEiwAGN5OCIkrRaKZE_VfF8YNqhfeTuTwg6o1UGwES_jNjebtn8eerqSZVwNxERoCpO8QAvD_BwE" class="btn btn-primary">Learn More</a>
              </div>
            </div>
        
            <div class="card mx-auto" style="width: 20rem">
              
              <div class="card-body">
                <h5 class="card-title">GitLab's DevSecOps</h5>
                <p class="card-text">
                    
                </p>
                <a href="https://about.gitlab.com/solutions/dev-sec-ops/" class="btn btn-primary">Learn More</a>
              </div>
            </div>
         
            <div class="card mx-auto" style="width: 20rem">
              <div class="card-body">
                <h5 class="card-title">GitLab's Monitoring</h5>
                <p class="card-text">
                  
                </p>
                <a href="https://about.gitlab.com/stages-devops-lifecycle/monitor/" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          

          <%# devops platform
          https://about.gitlab.com/?utm_medium=cpc&utm_source=google&utm_campaign=brand_amer_pr_rsa_br_phrase&utm_content=homepage_digital_x-pr_english_&_bt=553407831748&_bk=gitlab&_bm=p&_bn=g&_bg=131460278867&gclid=CjwKCAjwyryUBhBSEiwAGN5OCIkrRaKZE_VfF8YNqhfeTuTwg6o1UGwES_jNjebtn8eerqSZVwNxERoCpO8QAvD_BwE
          https://about.gitlab.com/solutions/dev-sec-ops/ built in monitoring
          https://about.gitlab.com/stages-devops-lifecycle/monitor/ %>
        </div>
      </div>
    </div>
  </body>
</html>
